body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Times New Roman";
  font-size: 16px;
}

button {
  background: red;
  border: solid 1px white;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 10px;
  margin: 0 5px 0px;
  width: auto;
  height: auto;
  z-index: 1;
  color: white;
  text-shadow: -0.5px 0.5px black;
  font-weight: bold;
}

button.active {
    background: red;
    border: solid 5px white;
}

button:hover {
    background: yellow;
}

.box {
    border: solid 1px white;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 12px 16px;
    margin: 12px 0;

}

.box > h1,
.box > h2
{
    margin: 0 0 8px 0;
}

#content {
    --md-bg-1: #bbbbbb;
    --md-bg-2: #bbbbbb;
    --md-text: #000000;
}

#content .box {
    background: var(--md-bg-1);
    color: var(--md-text);
}

#content .box .box {
    background: var(--md-bg-2);
    color: var(--md-text);
}

p {
    margin-top: 0;
    margin-bottom: 0.5vw;
}

p + ul,
p + ol {
    margin-top: 0.1vw;
}

ul, ol {
    margin-bottom: 1vw;
}

@media (max-width: 768px) {
    body {
        font-size: 10px;
    }
        .box {
        border: solid 1px white;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        padding: 6px 8px;
        margin: 6px 0;

    }
    .box > h1,
    .box > h2
    {
        margin: 0 0 4px 0;
    }
}